<h3 class="mb-3 text-center">agregar comentarios </h3>
<form>

  <div class="mb-3 text-center">
    <label for="titulo" class="form-label">titulo</label>
    <input type="text" class="form-control text-center" id="titulo" placeholder="name@example.com">
  </div>


  <div class="mb-3 text-center">
    <label for="Creador" class="form-label">Creador</label>
    <input type="text" class="form-control text-center" id="Creador" placeholder="name@example.com">
  </div>

  <div class="mb-3 text-center">
    <label for="texto" class="form-label text-center"> texto </label>
    <textarea class="form-control" id="texto" rows="8"></textarea>
  </div>

  <button class="btn btn-primary float-end">aceptar </button>
  <button routerLink="/" class="btn btn-secondary float-center">volver</button>

</form>

